
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





















.container {
    min-width: 410px;
    max-width: 740px;
}






















header {
    position: sticky;
    background-image:linear-gradient(rgba(0,0,0,0.2),
     rgba(0,0,0,0.2)), url(../img/header-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid #fff;
}

.logo {
    font-size: 2.5em;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    padding: 12px;
    color: #e7e7e7;
    text-shadow: 0 0 10px rgba(0, 0, 0);
    user-select: none;
}




















nav ul {
    background-color: rgb(182, 117, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid #fff;
    padding: 5px;
}


nav ul li{
    padding: 4px;
    list-style: none;
}

nav ul li a{
    font-size: 1.3em;
    color: #e7e7e7;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

nav ul li i{
    padding-right: 5px;
    font-size: 1.3em;
    color: #e7e7e7;
}











.hero{
    background-image:linear-gradient(rgba(0,0,0,0.6), transparent 10%),
                     linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
                     url(../img/hero.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero .txt{
    color: #fff;
    font-size: 1.5em;
    padding: 5px 20px;
    filter: drop-shadow(0 0 5px #000);
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0.25);
    margin: 5px;
    border-radius: .5em;
    text-decoration: none;
}

i {
    padding-right:10px;
}

.hero .txt:hover{
    font-size: 1.6em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    transition: 250ms;
    margin: 4.5px;
}









.container-sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-sec1 div{
    bottom: 2em;
    position: relative;
    width: 20em;
    height: 70px;
    background: #fff;
    box-shadow: 0 -5px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-sec1 div h2{
    margin-top: .3em;
    font-family: 'DM Serif Display', serif;
    font-size: 2em;
    color: #c57122;
}














form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input,textarea{
    min-width: 20em;
    margin: 10px;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid #c57122 ;
    font-family: 'Roboto', sans-serif;
}

form input::placeholder,textarea::placeholder{
    color: rgb(100, 100, 100);
    font-family: 'Roboto', sans-serif;
}





.boton{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    min-width: 5em;
    border-radius: .5em;
    background: #c57122;
    border: none;
    border-bottom: 4px solid #683b11;
    margin-bottom: 2em;
}

.boton:hover {
    background: #d88a42;
    border-bottom: 4px solid #97602d;
    cursor: pointer;
}











.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contactos__ubi {
    color: #000;
    text-decoration: none;
}

.contactos p,a{
    margin: 3px;
    font-family: 'Roboto', sans-serif;
}





























.redes-txt{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 1.5em;
    color: #c57122;
    font-family: 'DM Serif Display', serif;
    display: inline-block;
    position: relative;
    margin-bottom: 1em;
}

h3::before,h3::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1.7px;
    background-color: #bbbbbb;
}

h3::before{
    top: .7em;
    right: 5em;
}

h3::after{
    top: .7em;
    left: 5em;
}





















.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#link-redes{
    color: #fff;
}


.redes-ico{
    text-align: center;
    border-radius: 100%;
    height: 6s0px;
    width: 60px;
    padding: 10px;
    margin: 10px;
    font-size: 2.2em;
    background: #c57122;
    border-bottom: 4px solid #683b11;
    margin-bottom: 1em;
}

.redes-ico:hover{
    background: #d88a42;
    border-bottom: 4px solid #97602d;
}

















.container-sec1,.container-sec1 div{
    background:rgb(247,247,247);
    position: relative;
}




.container-sec2{
    background-image:url(../img/fondo-sec.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 80%;
    box-shadow: 0 5px 1em rgba(0, 0, 0, 0.3);
}



.container-pago {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




.container-pago p{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}






.tarje-cont {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);
    align-items: center;
    justify-items: center;
    grid-gap: 1.5em;
    margin-bottom: 1em;
}

.tarje-cont__tarjetas {
    width: 3.5em;
    filter: drop-shadow( 0 0 3px rgba(0,0,0,0.4));
}








.container-footer{
    background: #c57122;
}

.container-footer .logo{
    text-shadow: none;
    color: #e9ac73;
    padding: .7em 0 .5em;
    font-size: 1.5em;
}

.container-footer .logo b{
    font-family: sans-serif;
}